/* Hide unneeded stuff */
li.moments, li.js-moments-tab, .wtf-module.has-content, .settings > .avatar,
.topbar-tweet-btn, .DashboardProfileCard-screennameLink,
.Trends{
    display: none !important;
}

/* New image for Settings button */
.settings {
    content: url(https://pbs.twimg.com/media/CYURfiDUoAA0rqq.png) !important;
}

/* Slim down the profile bg */
.DashboardProfileCard-bg {
    height: 75px !important;
}